<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Post</title>
</head>
<body>
    
    <form action="/articles" method="post" enctype="multipart/form-data">
        <label for="urlToImage">Image:</label>
        <input type="file" name="urlToImage"><br>
        <label for="title">Title:</label>
        <input type="text" name="title"><br>
        <label for="description">Description:</label>
        <input type="text" name="description"><br>
        <label for="content">Content:</label>
        <input type="text" name="content"><br>
        <label for="publishedAt">PublishedAt:</label>
        <input type="date" name="publishedAt"><br>
        <label for="category">category:</label>
        <input type="text" name="category"><br>
        <label for="category">category:</label>
        <input type="text" name="category"><br>
        <label for="category">category:</label>
        <input type="text" name="category"><br>
        <label for="category">category:</label>
        <input type="text" name="category"><br>
        <input type='submit'>
    </form>
</body>
</html>